<% layout('layouts/boilerplate') %>

    <div id="cluster-map"></div>
    <div class="container">
        <h1 class="text-center">All Vacation Homes</h1>
        <% for(let home of homes){%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if (home.images.length){ %>
                            <img crossorigin="anonymous" class="img-fluid" src="<%= home.images[0].url %>" alt="">
                            <% } else { %>
                                <img crossorigin="anonymous" class="img-fluid" alt="" src="https://res.cloudinary.com/duf1orzkq/image/upload/v1698640070/VacationHomes/oa2n7dl549qq8t8kb0tq.jpg">
                            <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= home.title %>
                            </h5>
                            <p class="card-text">
                                <%= home.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= home.location %>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/vacation_homes/<%= home._id %>">
                                <%= home.title %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>
    </div>
    </div>
    <script>
         const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
                const homes = {features:<%-JSON.stringify(homes)%>}
    </script>

    <script src="/javascripts/clusterMap.js"></script>